.datepicker-calendar-day {
	cursor: pointer;

	&:hover:not(.datepicker-disabled) {
		background-color: #eee;
	}
}

.datepicker-other-month {
	color: #666;
	font-size: 80%;
	vertical-align: middle !important;
}

.datepicker-today {
	background-color: #fedfab;
	color: #E79500;
	font-weight: bold;

	&:hover:not(.datepicker-disabled) {
		background-color: #FFD088;
	}
}

#datepicker-calendar {
	margin-bottom: 10px;
	margin-top: 30px;
	table-layout: fixed;
}

.datepicker-selected {
	$backgroundColor: #F26B6B;

	background-color: $backgroundColor;
	color: #B93030;
	cursor: default;
	font-weight: bold;

	&:hover:not(.datepicker-disabled) {
		background-color: $backgroundColor;
	}
}

.datepicker-buttons .btn {
	margin-bottom: 10px;
}

#datepicker-selected-label {
	font-weight: bold;
	text-align: center;
}

#datepicker-time {
	font-size: 25px;

	select {
		border: 1px solid #ccc;
		height: 50px;
	}
}

#datepicker-calendar-wrapper,
#datepicker-time {
	display: inline-block;
	float: none;
	vertical-align: middle;
}

.datepicker-disabled {
	color: #bbb;
	cursor: default;

	&:hover {}
}

.datepicker-calendar-weekno {
	border: none !important;
	border-right: 1px solid #ddd !important;
	font-size: 10px;
	vertical-align: middle !important;
}

#datepicker-timer {
	font-size: 30px;
}

#datepicker-timer .datepicker-time-view {
	.btn {
		height: 70px;
		font-size: 30px;
		width: 70px;
	}
}

.datepicker-selected-day-label {
	border: 1px solid #ddd;
	text-align: center;
}

#datepicker-body .dropdown-menu {
	max-height: 300px;
	min-width: unset;
	overflow: auto;
	text-align: center;
	width: 100%;
}

#datepicker-month-select,
#datepicker-year-select {
	display: block;
	width: 100%;
}