<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/datetimepicker.css">
	<!-- endbuild -->
</head>
<body ng-app="pszczolkowski.dateTimePicker">

	<div ng-controller="DemoCtrl">
		<input date-picker ng-model="date" date-min="dateMin" date-max="dateMax" hour-min="12" hour-max="19" />

		<input date-time-picker ng-model="date" hour-min="12" hour-max="19" minute-step="15" show-week-numbers />

		<input time-picker ng-model="date" />
	</div>

	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
	<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
	<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
	<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
	<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
	<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
	<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
	<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
	<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
	<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
	<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
	<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="bower_components/angular-dateParser/dateparser.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/dateTimePickerModal.js"></script>
	<script src="scripts/controllers/dateTimePicker.js"></script>
	<script src="scripts/directives/datePicker.js"></script>
	<script src="scripts/directives/datepickerInput.js"></script>
	<script src="scripts/controllers/demo.js"></script>
	<script src="scripts/filters/leadingzeros.js"></script>
	<script src="scripts/services/dateTimePickerConfig.js"></script>
	<script src="scripts/services/dtpDay.js"></script>
	<script src="scripts/directives/dateTimePicker.js"></script>
	<script src="scripts/directives/timePicker.js"></script>
	<script src="scripts/directives/dtpCalendar.js"></script>
	<script src="scripts/directives/dtpTimer.js"></script>
	<!-- endbuild -->
</body>
</html>
