<div class="modal-body">

	<div class="row" ng-if="pickType === 'date' || pickType === 'datetime'">

		<div class="col-xs-12 col-sm-7">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default"
							ng-click="minusMonth()"
							ng-disabled="calendar.month === constraints.dateMin.getMonth() && calendar.year === constraints.dateMin.getFullYear()">
							<span class="glyphicon glyphicon-chevron-left"></span>
					</button>
				</span>

				<select class="form-control"
						ng-model="calendar.month"
						ng-options="month.num as month.name for month in months">
				</select>

				<span class="input-group-btn">
					<button class="btn btn-default"
							ng-click="plusMonth()"
							ng-disabled="calendar.month === constraints.dateMax.getMonth() && calendar.year === constraints.dateMax.getFullYear()">
							<span class="glyphicon glyphicon-chevron-right"></span>
					</button>
				</span>
			</div>
		</div>

		<div class="col-xs-12 col-sm-5">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default"
							ng-click="minusYear()"
							ng-disabled="calendar.year === constraints.dateMin.getFullYear()">
							<span class="glyphicon glyphicon-chevron-left"></span>
					</button>
				</span>

				<select class="form-control"
						ng-model="calendar.year"
						ng-options="year for year in years track by year">
				</select>


				<span class="input-group-btn">
					<button class="btn btn-default"
							ng-click="plusYear()"
							ng-disabled="calendar.year === constraints.dateMax.getFullYear()">
							<span class="glyphicon glyphicon-chevron-right"></span>
					</button>
				</span>
			</div>
		</div>

	</div>

	<div class="row">
		<div id="datepicker-calendar-wrapper"
			 class="col-xs-12"
			 ng-class="{'col-sm-8': pickType === 'datetime'}"
			 ng-if="pickType === 'date' || pickType === 'datetime'">

			<div dtp-calendar
				 ng-model="calendar.selectedDayDate"
				 calendar-month="calendar.month"
				 calendar-year="calendar.year"
				 date-min="constraints.dateMin"
				 date-max="constraints.dateMax"></div>

		</div><!--

		--><div id="datepicker-time"
				class="col-xs-12 text-center"
				ng-class="{'col-sm-4': pickType === 'datetime'}"
				ng-if="pickType === 'time' || pickType === 'datetime'">
			<div class="btn-group-vertical">
				<button class="btn btn-default"
						ng-click="plusHour()">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</button>
				<select ng-model="selectedTime.hour"
						ng-options="hour for hour in hours track by hour">
				</select>
				<button class="btn btn-default"
						ng-click="minusHour()">
					<span class="glyphicon glyphicon-chevron-down"></span>
				</button>
			</div>

			<span>:</span>

			<div class="btn-group-vertical">
				<button class="btn btn-default"
						ng-click="plusMinute()">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</button>
				<select ng-model="selectedTime.minute"
						ng-options="(minute | leadingZeros) for minute in minutes track by minute">
				</select>
				<button class="btn btn-default"
						ng-click="minusMinute()">
					<span class="glyphicon glyphicon-chevron-down"></span>
				</button>
			</div>
		</div>
	</div>

</div>

<div class="modal-footer datepicker-buttons">
	<div class="row">
		<div class="col-xs-6 col-sm-2">
			<button class="btn btn-default btn-block"
					ng-click="selectToday()"
					ng-if="pickType === 'date' || pickType === 'datetime'">Today
			</button>
		</div>

		<div class="col-xs-6 col-sm-2">
			<button class="btn btn-default btn-block"
					ng-click="clear()"
					ng-if="pickType === 'date' || pickType === 'datetime'">Clear
			</button>
		</div>

		<div class="col-sm-3 col-sm-offset-2">
			<button class="btn btn-danger btn-block"
					ng-click="cancel()">Cancel
			</button>
		</div>

		<div class="col-xs-12 col-sm-3">
			<button class="btn btn-success btn-block"
					ng-click="confirm()">Confirm
			</button>
		</div>
	</div>
</div>
