<div id="datepicker-body" class="modal-body">

	<div class="row" ng-if="pickType === 'date' || pickType === 'datetime'">

		<div class="col-xs-12 col-sm-7">
			<div class="btn-group input-group">
				<div class="input-group-btn">
					<button class="btn btn-default"
							ng-click="minusMonth()"
							ng-disabled="calendar.month === constraints.dateMin.getMonth() && calendar.year === constraints.dateMin.getFullYear()">
							<span class="glyphicon glyphicon-chevron-left"></span>
					</button>
				</div>

				<div id="datepicker-month-select" class="btn-group"
					ng-init="allMonths[0] = {num: 0, name: 'stycz'}">
					<button type="button"
							class="btn btn-default btn-block dropdown-toggle"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="true">
						<span ng-switch="calendar.month">
							<span ng-switch-when="0">January</span>
							<span ng-switch-when="1">February</span>
							<span ng-switch-when="2">March</span>
							<span ng-switch-when="3">April</span>
							<span ng-switch-when="4">May</span>
							<span ng-switch-when="5">June</span>
							<span ng-switch-when="6">July</span>
							<span ng-switch-when="7">August</span>
							<span ng-switch-when="8">September</span>
							<span ng-switch-when="9">October</span>
							<span ng-switch-when="10">November</span>
							<span ng-switch-when="11">December</span>
						</span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li>
							<a href="" ng-click="setMonth(0)" ng-show="months[0]">January</a>
							<a href="" ng-click="setMonth(1)" ng-show="months[0]">February</a>
							<a href="" ng-click="setMonth(2)" ng-show="months[0]">March</a>
							<a href="" ng-click="setMonth(3)" ng-show="months[0]">April</a>
							<a href="" ng-click="setMonth(4)" ng-show="months[0]">May</a>
							<a href="" ng-click="setMonth(5)" ng-show="months[0]">June</a>
							<a href="" ng-click="setMonth(6)" ng-show="months[0]">July</a>
							<a href="" ng-click="setMonth(7)" ng-show="months[0]">August</a>
							<a href="" ng-click="setMonth(8)" ng-show="months[0]">September</a>
							<a href="" ng-click="setMonth(9)" ng-show="months[0]">October</a>
							<a href="" ng-click="setMonth(10)" ng-show="months[0]">November</a>
							<a href="" ng-click="setMonth(11)" ng-show="months[0]">December</a>
						</li>
					</ul>
				</div>

				<div class="input-group-btn">
					<button class="btn btn-default"
							ng-click="plusMonth()"
							ng-disabled="calendar.month === constraints.dateMax.getMonth() && calendar.year === constraints.dateMax.getFullYear()">
							<span class="glyphicon glyphicon-chevron-right"></span>
					</button>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-5">
			<div class="btn-group input-group">
				<div class="input-group-btn">
					<button class="btn btn-default"
							ng-click="minusYear()"
							ng-disabled="calendar.year === constraints.dateMin.getFullYear()">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</button>
				</div>

				<div id="datepicker-year-select" class="btn-group">
					<button type="button"
							class="btn btn-default btn-block dropdown-toggle"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="true">
						{{calendar.year}}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li ng-repeat="year in years">
							<a href="#" ng-click="setYear(year)">{{year}}</a>
						</li>
					</ul>
				</div>

				<div class="input-group-btn">
					<button class="btn btn-default"
							ng-click="plusYear()"
							ng-disabled="calendar.year === constraints.dateMax.getFullYear()">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</button>
				</div>
			</div>
		</div>

	</div>

	<div class="row">
		<div id="datepicker-calendar-wrapper"
			 class="col-xs-12"
			 ng-class="{'col-sm-8': pickType === 'datetime'}"
			 ng-if="pickType === 'date' || pickType === 'datetime'">

			<div dtp-calendar
				 ng-model="date.selectedDay"
				 calendar-month="calendar.month"
				 calendar-year="calendar.year"
				 date-min="constraints.dateMin"
				 date-max="constraints.dateMax"
				 show-week-numbers="constraints.showWeekNumbers"></div>

		</div><!--

		--><div id="datepicker-time"
				class="col-xs-12 text-center"
				ng-class="{'col-sm-4': pickType === 'datetime'}"
				ng-if="pickType === 'time' || pickType === 'datetime'">

			<div dtp-timer
				 ng-model="date.selectedTime"
				 hour-min="{{constraints.hourMin}}"
				 hour-max="{{constraints.hourMax}}"
				 minute-step="{{constraints.minuteStep}}"></div>

		</div>
	</div>

</div>

<div class="modal-footer datepicker-buttons">
	<div class="row">
		<div class="col-xs-6 col-sm-2">
			<button class="btn btn-default btn-block"
					ng-click="selectToday()"
					ng-if="pickType === 'date' || pickType === 'datetime'">Today
			</button>
		</div>

		<div class="col-xs-6 col-sm-2">
			<button class="btn btn-default btn-block"
					ng-click="clear()"
					ng-if="!constraints.required && (pickType === 'date' || pickType === 'datetime')">Clear
			</button>
		</div>

		<div class="col-sm-3 col-sm-offset-2">
			<button class="btn btn-danger btn-block"
					ng-click="cancel()">Cancel
			</button>
		</div>

		<div class="col-xs-12 col-sm-3">
			<button class="btn btn-success btn-block"
					ng-click="confirm()">Confirm
			</button>
		</div>
	</div>
</div>
