<div class="modal-body">

	<div class="row">

		<div class="col-xs-12 col-sm-7">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default"
							ng-click="date.minusMonth()">
							<span class="glyphicon glyphicon-chevron-left"></span>
					</button>
				</span>

				<select class="form-control"
						ng-model="date.month"
						ng-options="m.num as m.month for m in months"
						ng-change="monthChange()">
				</select>

				<span class="input-group-btn">
					<button class="btn btn-default"
							ng-click="date.plusMonth()">
							<span class="glyphicon glyphicon-chevron-right"></span>
					</button>
				</span>
			</div>
		</div>

		<div class="col-xs-12 col-sm-5">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default"
							ng-click="date.minusYear()">
							<span class="glyphicon glyphicon-chevron-left"></span>
					</button>
				</span>

				<select class="form-control"
						ng-model="date.year"
						ng-change="yearChange()"
						ng-options="year for year in years track by year">
				</select>


				<span class="input-group-btn">
					<button class="btn btn-default"
							ng-click="date.plusYear()">
							<span class="glyphicon glyphicon-chevron-right"></span>
					</button>
				</span>
			</div>
		</div>

	</div>

	<div class="row">
		<div id="datepicker-calendar-wrapper" class="col-xs-12 col-sm-8">
			<table id="datepicker-calendar" class="table text-center">
				<thead>
				<tr>
					<th class="text-center">Mon</th>
					<th class="text-center">Tue</th>
					<th class="text-center">Wed</th>
					<th class="text-center">Thu</th>
					<th class="text-center">Fri</th>
					<th class="text-center">Sat</th>
					<th class="text-center">Sun</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="week in weeks">
					<td ng-repeat="day in week"
						class="datepicker-calendar-day"
						ng-class="{'datepicker-other-month': day.month !== date.month,
							   'datepicker-today': today.equals(day),
							   'datepicker-selected': day.equals(selectedDay)}"
						ng-click="selectDay(day)">
						{{day.day}}
					</td>
				</tr>
				</tbody>
			</table>
		</div><!--

		--><div id="datepicker-time" class="col-xs-12 col-sm-4 text-center">
			<div class="btn-group-vertical">
				<button class="btn btn-default"
						ng-click="plusHour()">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</button>
				<select ng-model="selectedTime.hour"
						ng-options="hour for hour in hours track by hour">
				</select>
				<button class="btn btn-default"
						ng-click="minusHour()">
					<span class="glyphicon glyphicon-chevron-down"></span>
				</button>
			</div>

			<span>:</span>

			<div class="btn-group-vertical">
				<button class="btn btn-default"
						ng-click="plusMinute()">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</button>
				<select ng-model="selectedTime.minute"
						ng-options="(minute | leadingZeros) for minute in minutes track by minute">
				</select>
				<button class="btn btn-default"
						ng-click="minusMinute()">
					<span class="glyphicon glyphicon-chevron-down"></span>
				</button>
			</div>
		</div>
	</div>

</div>

<div class="modal-footer datepicker-buttons">
	<div class="row">
		<div class="col-xs-6 col-sm-2">
			<button class="btn btn-default btn-block"
					ng-click="selectToday()">Today
			</button>
		</div>

		<div class="col-xs-6 col-sm-2">
			<button class="btn btn-default btn-block"
					ng-click="clear()">Clear
			</button>
		</div>

		<div class="col-xs-12 col-sm-3 col-sm-offset-5">
			<button class="btn btn-success btn-block"
					ng-click="pick()">Pick
			</button>
		</div>
	</div>
</div>
